# Example of the enviromant variable you must have to run this project
# Copy this file to your .env and fill with your real NeonDB credentials:

DATABASE_URL=postgresql://user:password@host.neon.tech/neondb?sslmode=require&channel_binding=require